@font-face {
	font-family: Montserrat-Regular;
	src: url("../fonts//Montserrat-Regular.ttf");
}

@font-face {
	font-family: Montserrat-light;
	src: url("../fonts/Montserrat-Light.ttf");
}
html{
    font-family: Montserrat-Light;
    font-size: 1vw;
    min-height: 100%;
    overflow-y: scroll;
    width: 100vw;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}
h1,h3{
    display: inline;
    text-align: center;
}
.imgnews{
    height: 75%;
    box-shadow: 0.5vw 0.5vw 1.5vw #7e8081;
    background-color: rgba(232, 237, 232, 0.575);
    border-radius: 2vw;
}
.nav{
    size: 50%;
    overflow: auto;
    list-style: none;
    font-size: 2vw;
}
.nav li{
    text-align: center;
    float: right;
}
.nav li:first-child {
    float: left;
    margin-left: -2vw;
}
.button {
    margin-top: 0.1vw;
    display: block;
    color:green;
    text-decoration: none;
    padding: 0.7vw 0.7vw 0vw 0.7vw;
  }
.logopngcont{
    display: block;
    padding: 0vw 0.7vw 0vw 0.7vw;
}
.logopng{
    margin-top:0.3vw;
}
#zachorowania{
    color:red;
}
.section{
    box-shadow: 0.5vw 0.5vw 1.5vw #7e8081;
    background-color: rgba(232, 237, 232, 0.575);
    border-radius: 2vw;
}
#centrum{
    float: left;
    overflow: auto;
    display: relative;
    width: 100%;
    margin-bottom: 2vw;
}
.info{
    display: inline-block;
    padding:0.5vw 1vw;
    width: 50%;
    margin: 0 auto;
}
.panel{
    float: right;;
}
.news{
    height: 20vw;
    width: 15vw;
    margin-left: 1vw;
    float:left;
    padding-left: 6.5vw;
}
.text{
    float: left;
}
#newsbar{
    margin: 2vw 0vw 1vw 0vw;
    text-align: center;
}
.newstext{
    color:black
}
#testy{
    color:green;
}
#testycont{
    margin-bottom: 0.5vw;
}