@font-face {
	font-family: Montserrat-Regular;
	src: url("../fonts//Montserrat-Regular.ttf");
}

@font-face {
	font-family: Montserrat-light;
	src: url("../fonts/Montserrat-Light.ttf");
}
html{
    font-family: Montserrat-Light;
    font-size: 1vw;
}
.nav{
    size: 50%;
    overflow: auto;
    list-style: none;
    font-size: 2vw;
}
.nav li{
    text-align: center;
    float: right;
}
.nav li:first-child {
    float: left;
    margin-left: -2vw;
}
.button{
    display: block;
    color:green;
    text-decoration: none;
    padding: 0.8vw 0.7vw 0vw 0.7vw;
}
.logopngcont{
    display: block;
	padding: 0vw 0.7vw 0vw 0.7vw;
}
.logopng{
    margin-top:0.3vw;
}
.section{
    box-shadow: 0.5vw 0.5vw 1.5vw #7e8081;
	background-color: rgba(232, 237, 232, 0.575);
	border-radius: 2vw;
}
path:hover{
	opacity: 0.5;
	cursor: pointer;
}
.wojewodztwo.active{
	opacity: 0.5;
}
.wojewodztwo{
	fill:red;
	fill-opacity:1;
}
#info{
	float: right;
	margin-right: 5vw;
	margin-top:3vw;
	padding:1vw 1vw 1vw 1vw;
	width: 20vw;
}
#infoid{
	width: fit-content;
}
#sicked{
	font-size: 5vw;
	text-align: center;
}
.date-picker {
	position: relative;
	width: 100%;
	max-width: 320px;
	height: 60px;
	background-color: #FFF;
	margin: 30px auto;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);

	cursor: pointer;
	user-select: none;
}

.date-picker:hover {
	background-color: #F3F3F3;
}

.date-picker .selected-date {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #313131;
	font-size: 28px;
}

.date-picker .dates {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	background-color: #FFF;
}

.date-picker .dates.active {
	display: block;
}

.date-picker .dates .month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #EEE;
}

.date-picker .dates .month .arrows {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
	font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
	background-color: #F3F3F3;
}

.date-picker .dates .days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 200px;
}
.date-picker .dates .days .day { 
	display: flex;
	justify-content: center;
	align-items: center;
	color: #313131;
}
.date-picker .dates .days .day:hover {
	background-color: #F3F3F3;
}